@charset "utf-8";
/* CSS Document */

body{
	background:#000;
 	color:#fff;
 	font-family:PrimeRegular;
	font-size:24px;
}

#header #MainNav{
	list-style-type: none;
    margin-top: -5%;
    padding: 0;
    overflow: hidden;
	float:right;
}

#header{
 background:#000 ;
 height:3em ;
}
#header h1{
  padding-left:2em;
  margin-top:1em;;
}

#MainNav li{
	float:left;
	width:150px;
	text-align:center;
	display:block-inline;
}

#MainNav a {
    display: block;
    padding: 10px;
	text-decoration:none;
    color:#fff;
		-webkit-transition: 300ms ease-out;
	  transition: 300ms ease-out;
}
#MainNav a:hover{
	background:#d62f2f;
	border-radius: 2.5px;

}
#content{
	margin:4em;
	border:thick solid #fff;
	border-radius: 5px;
}
#projectLink{
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
#projectLink:hover
{
	opacity: 0.5;
}

#logo{
	border:thick solid #d62f2f;
	margin-bottom: 40px;
	}
#prev{
	float:left;
}
#next{
	float:right;
}
#contentcontact{
	padding: 2em;
	float:left;
	display: block;
	border:thick solid #fff;
	border-radius: 5px;
}
#Resume{
	text-align: center;
	text-decoration: none;
	padding: 1px 0 1px 0;
	color: #fff;
	display: block;
	-webkit-transition: 300ms ease-out;
	transition: 300ms ease-out;
}

#contentcontact a:hover{
	background-color: #d62f2f;
}
#pagecon{
	padding-top: 2em;
	padding-left: 10%;
	padding-right: 10%;
}
#Contact{
	padding: 2em;
	display: block;
	float: right;
	border:thick solid #fff;
	border-radius: 5px;
}
.animatedfadein{
	animation-name: fadein;
	animation-duration: 3s;
}
#Submit{
		background-color: #d62f2f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
		border-radius: 2.5px;
    font-size: 16px;
}
#content p,h2{
	padding-left:10px;
}
button {
  width: 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
button:hover {
  opacity: 1;
}
#footer{
	clear: both;
	padding:1.5em;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		border
}
@media screen and (max-width: 1010px){

	#Contact{
		min-width: 300px
	}
	#contentcontact{
		min-width: 300px
	}
	#pagecon{
		display: flex;
		flex-direction: column;
		margin-left: 17%;
	}
}
@font-face {
	font-family:PrimeRegular;
	src:url(PrimeRegular.otf);
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
